{
  "extends": "airbnb",
  "rules": {
    "semi": ["warn", "never"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "camelcase": [0],
    "object-curly-spacing": ["warn", "never"],
    "global-require": [0],
    "react/prefer-stateless-function": [0],
    "react/jsx-filename-extension": [0],
    "react/jsx-tag-spacing": [
      "warn",
      {
        "beforeSelfClosing": "never"
      }
    ]
  },
  "globals": {
    "document": true,
    "__DEV__": true
  }
}
