{
  "extends": "airbnb",
  "rules": {
    "semi": ["warn", "never"],
    "no-shadow": [0],
    "no-await-in-loop": ["warn"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "function-paren-newline": [0],
    "camelcase": [0],
    "object-curly-spacing": ["warn", "never"],
    "global-require": [0],
    "react/prefer-stateless-function": [0],
    "react/jsx-filename-extension": [0],
    "react/prop-types": [0],
    "react/jsx-tag-spacing": [
      "warn",
      {
        "beforeSelfClosing": "never"
      }
    ]
  },
  "globals": {
    "window": true,
    "WebSocket": true,
    "__DEV__": true
  },
  "overrides": [
    {
      "files": ["tests/*.js"],
      "globals": {
        "fixture": true,
        "test": true,
      },
      "rules": {
        "no-unused-vars": ["error", {"varsIgnorePattern": "Selector"}],
        "no-unused-expressions": ["error", {"allowTaggedTemplates": true}],
        "template-tag-spacing": ["error", "always"],
        "newline-per-chained-call": [0]
      }
    }
  ]
}
